//fonts
$font-family-base: "Open Sans Bold", sans-serif;
$font-family-base-light: "Open Sans Light", sans-serif;
$font-family-base-semibold: "Open Sans SemiBold", sans-serif;
$font-family-base-extrabold: "Open Sans ExtraBold", sans-serif;
$font-family-secondary: "Museo Sans", sans-serif;

//colors
$color-base: #424242;
$color-secondary: #585858;
$blue: #6a8ab7;
$deep-blue: #3a5b8a;
